:root{
  --background-color: rgb(255, 255, 255);
  --frontground-color: #000104;
  --primary-text-color: black;
  --secondary-text-color: aliceblue;
  --toogle-bg: rgb(255, 248, 116);
  --toogle-fg: rgb(218, 180, 42);
}

*{
  box-sizing: border-box;
  font-size: 1rem;
  margin: auto;
}
body {
  padding: 0;
  background-color: aliceblue;
}
.bi-moon{
  cursor: pointer;
  width: 100%;
  background-color: var(--frontground-color);
}
.bi-sun{
  cursor: pointer;
  width: 100%;
  background-color: var(--background-color);

}
.theme-dark{
  background-color: bisque;
}
.theme-light{
  background-color: var(--background-color);
}

header nav{
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-around;
  margin: 1em auto;
  align-items: center;
  background-color: black;
  color: aliceblue;
}
.layout{
  display: grid;
  grid-template-columns: 1fr ;
  grid-template-rows: 40px auto 40px;
  grid-template-areas: 'header' 'container' 'footer';
  height: 100vh;
  
}

h2{
  padding: 1em;
}
.link , a {
  gap: 1em;
  text-decoration: none;
  text-transform: uppercase;
  color: aliceblue;
}
main {
  flex: 1 0 auto;
}
.sectionFirst {
  position: relative;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 10em;
  align-items: center;
}
span{
  font-weight: bold;
  font-size: 1em;

}
.btn{
  padding: 0.50em;
  margin: 0.5em;
}
.title {
  font-weight: 100;
}
.subTitle{
  color: var(--primary-text-color);
  font-weight:bolder;
}
.subSections{
  flex-direction: column;
  flex-wrap: wrap;
  gap:4em;
  align-items: center;
  text-align: center;
}
.skills{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style: none;
}
.card {  
  position: relative;
  display: flex;
  align-items: flex-end;
  overflow: hidden;
  border: rgb(0, 0, 0) 2px solid;
  border-radius: 1.2em;
  max-width: auto;
  cursor: pointer;
}

.cards{
  display: flex;
  gap: 1em;
  margin: 0;
  padding: 0;
  height: auto;
  justify-content: center;
  align-items: center;
  position: relative;
}
.card-img{
  filter: none;
  -webkit-filter: none;
}
.card-img::before{
  filter: blur(1px);
  -webkit-filter: blur(1px);
}
.card-img-overlay:hover .card-title{
  display: block;
  color: aliceblue;
  font-weight: bold;
}
.card-img-overlay:hover .card-text{
  display: block;
  color: aliceblue;
  font-weight: 600;
}
.card:hover .card-img{
  filter: blur(2px);
  -webkit-filter: blur(2px);
}
.btn.btn-primary{
  display: none;
  top: auto;
}
.btn.btn-primary:hover{
  display: block;
  left: 10em;
  position: absolute;
  top: 8em;
  width: auto;
}
.card-title{
  font-size: 2em;
  position: relative;
  top: 30px;
  display: none;
}
.card-text{
  font-size: 0.75em;
  position: relative;
  top: 30px;
  display: none;
}
.card-footer{
  font-size: 1em;
}
@media (max-width: 400px){
  header nav{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    background-color: black;
    padding: 0.50em;
  }
  .link {
    color: aliceblue;
  }
  .sectionFirst{
    gap: 1em;
    flex-wrap: wrap;
    text-align: center;
    margin: auto;
    padding: 0;
  }
  .subSections{
    flex-direction: column;
    flex-wrap: wrap;
    gap: 4em;
    align-items: center;
    
  }
  
  .skills{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style: none;
    justify-content: center;
    padding: 0;
    }
    .btn{
      padding: 1em;
      margin: 0.4em;
    }
}