*{
  box-sizing: border-box;
  font-size: 1rem;
  margin: auto;
}
body {
  padding: 0;
}

header nav{
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-around;
  margin: 1em auto;
  align-items: center;
  background-color: black;
  color: aliceblue;
}
.layout{
  display: grid;
  grid-template-columns: 1fr ;
  grid-template-rows: 40px auto 40px;
  grid-template-areas: 'header' 'container' 'footer';
  height: 100vh;
  
}

h2{
  padding: 1em;
}
.link , a {
  gap: 1em;
  text-decoration: none;
  text-transform: uppercase;
  color: aliceblue;
}
main {
  flex: 1 0 auto;
}
.sectionFirst {
  position: relative;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 10em;
  align-items: center;
}
span{
  font-weight: bold;
  font-size: 1em;

}
.btn{
  padding: 0.50em;
  margin: 0.5em;
}
.title {
  font-weight: 100;
}
.subTitle{
  color: rgba(139, 139, 139, 0.713);
  font-weight:bolder;
}
.subSections{
  flex-direction: column;
  flex-wrap: wrap;
  gap:4em;
  align-items: center;
  text-align: center;
}
.skills{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style: none;
}

@media (max-width: 400px){
  header nav{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    background-color: black;
    padding: 0.50em;
  }
  .link {
    color: aliceblue;
  }
  .sectionFirst{
    gap: 1em;
    flex-wrap: wrap;
    text-align: center;
    margin: auto;
    padding: 0;
  }
  .subSections{
    flex-direction: column;
    flex-wrap: wrap;
    gap: 4em;
    align-items: center;
    
  }
  
  .skills{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style: none;
    justify-content: center;
    padding: 0;
    }
    .btn{
      padding: 1em;
      margin: 0.4em;
    }
}
/*

.a{
  background-color: black;
}
li{
  text-align: left;
}

h2{
  text-align: center;
  padding: 1em;
}
nav{
  border-bottom: black;
  padding: 12px 4em;
  color: white;
  background: #260101;
  margin: 0;
}


.links{
  text-decoration: none;
  font-size: 1.3em;
  color: white;
  border-bottom: solid transparent;
}
.links:hover{

  border-bottom: solid crimson;
}
Image{
  background-size: contain;
}
footer {
  flex-shrink: 0;
}
.container {
  padding: 2em 0;
}

.container h2 {
  margin-top: 2em;
}

.container ul {
  margin-left: 2rem;
  list-style-type: none;
}

.sectionFirst{
  display: flex;
}

.sectionSecond{
  display: flex;
  justify-content: center;
}

.skills{
  display: flex;
  justify-content: center;
}

.container2 {
  background-color: white;
}
.name {
  font-weight: bold;
  font-size: 1em;
  color: crimson;
}


.cardImg{
  border-image: auto;
  background-image: url('/foto.jpg');
}

@media (min-width: 480px){
  .layout{
    display: grid;
    grid-template-rows: 40px auto 80px 40px;
    grid-template-columns: 160px ;
    
  }
} */