*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: 0;
  font-size: 1rem;
}

html {
  height: 100%;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-image: url('/wallpaper.jpg');
  background-size: contain;
  background-repeat: no-repeat;
  background-size: calc(100% - 20px) calc(100% - 20px); /* Define largura e altura da imagem */
}
.a{
  background-color: black;
}
li{
  text-align: left;
}

h2{
  text-align: center;
  padding: 1em;
}
nav{
  border-bottom: black;
  padding: 12px 4em;
  color: white;
  background: #260101;
  margin: 0;
}
main {
  flex: 1 0 auto;
}

.links{
  text-decoration: none;
  font-size: 1.3em;
  color: white;
  border-bottom: solid transparent;
}
.links:hover{

  border-bottom: solid crimson;
}
Image{
  background-size: contain;
}
footer {
  flex-shrink: 0;
}

.container {
  padding: 2em 0;
}

.container h2 {
  margin-top: 2em;
}

.container ul {
  margin-left: 2rem;
  list-style-type: none;
}

.sectionFirst{
  display: flex;
}

.sectionSecond{
  display: flex;
  justify-content: center;
}

.skills{
  display: flex;
  justify-content: center;
}

.container2 {
  background-color: white;
}
.title {
  font-weight: lighter;
}
.name {
  font-weight: bold;
  font-size: 1em;
  color: crimson;
}

.subTitle{
  color: gray;
  
}
@media (max-width: 576px) {
  .header{
    width: 100%;
    margin: 2em;
    
  }
}